<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8">
</head>
<body>

<th:block th:fragment="directory (root, offset)" class="fileTreeDirectory">
    <!--/*@thymesVar id="root" type="cz.cuni.mff.soukups3.PipeWeb.FolderTree"*/-->
    <th:block th:each="dir : ${root.folders()}">
        <tr
                class="fileTreeDirectory"
                th:with='splits=${dir.root().toString().split("\.")}'
                th:attr="data-name=${dir.root().getName()},
        data-modified=${dir.root().lastModified()},
        data-size=${dir.root().length()},
        data-ext=DIR">

            <td style="color:rgb(0, 182, 161); width: 25%">
                <form hx-post="/fileTreeView  "
                      hx-trigger="submit"
                      hx-target="#fileManagerRoot"
                      hx-swap="innerHTML">
                    <div>
                        <button th:text="${offset + dir.root().getName()}" type="submit" name="path" th:value="${dir}">
                            Go
                        </button>
                    </div>
                    <!--folder button packed into div-->

                </form>
            </td>
            <td>DIR</td>
            <td th:text="${dir.root().length()}"></td>
            <td th:text="${dateFormat.format(dir.root().lastModified())}"></td>
            <td>
                <button type="button" th:with="backs='\\', forws='/'"
                        th:attr="onclick=|useFile('${dir.toString().replace(backs, forws)}')|">X
                </button>
            </td>
            <td>
                <!-- need to be repaired!!! -->
                <!-- <button type="submit" th:value="${dir}">hide
                 </button>-->
            </td>

        </tr>
    </th:block>
    <th:block th:each="file : ${root.files()}">
        <tr style="color:rgb(255, 0, 247);"
            class="fileTreeDirectory"
            th:with='splits=${file.toString().split("\.")}'
            th:attr="data-name=${file.getName()},
                    data-modified=${file.lastModified()},
                    data-size=${file.length()},
                    data-ext=${splits.length>1 ? splits[splits.length-1] : '-'}"
        >
            <td th:text="${offset + file.getName()}"></td>
            <td th:with='splits=${file.toString().split("\.")}'
                th:text="${splits.length>1 ? splits[splits.length-1] : '-'}"></td>
            <td th:text="${file.length()}"></td>
            <td th:text="${dateFormat.format(file.lastModified())}"></td>
            <td>
                <button type="button" th:with="backs='\\', forws='/'"
                        th:attr="onclick=|useFile('${file.toString().replace(backs, forws)}')|">X
                </button>
            </td>
            <td></td>
    </th:block>
    <!-- </table></td></tr> -->
</th:block>

<span th:fragment="test">
    <p>This has been tested!</p>
</span>

<div id="fileManagerRoot" th:fragment="fileManager (root)">
    <script src="https://unpkg.com/htmx.org@1.8.0"
            integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc"
            crossorigin="anonymous"></script>

    <input type="text" oninput='filterTrees(this.value)'>
    <table id="fileManagerTable" class="fileTable">
        <tr>
            <!--dát dohromady s main.css-->

            <th>
                <div class="resizeDiv">
                    <button type="button" onclick="sortFileManager('name')">Name</button>
                </div>
            </th>
            <th>
                <div class="resizeDiv">
                    <button type="button" onclick="sortFileManager('ext')">Ext</button>
                </div>
            </th>
            <th>
                <div class="resizeDiv">
                    <button type="button" onclick="sortFileManager('size')">Size</button>
                </div>
            </th>
            <th>
                <div class="resizeDiv">
                    <button type="button" onclick="sortFileManager('modified')">Date</button>
                </div>
            </th>
            <th>
                <form id="refresherForm" hx-post="/fileTreeView  "
                      hx-trigger="submit"
                      hx-target="#fileManagerRoot"
                      hx-swap="innerHTML">
                    <button type="submit" name="path" th:value="${root}">R</button>
                </form>
            </th>
            <th>
            </th>
        </tr>
        <tr>
            <td class="currentDirectory">
                <form hx-post="/fileTreeView  "
                      hx-trigger="submit"
                      hx-target="#fileManagerRoot"
                      hx-swap="innerHTML">
                    <button class="currentDirectory" type="submit" name="path" th:value="${root.root().getParent()}">
                        ..
                    </button>
                </form>
            </td>
            <td colspan="5" class="currentDirectory">
                <th:block th:text="${root}"></th:block>
            </td>
        </tr>

        <tr th:if="${root!=null}" th:replace="fragments/fileManager :: directory(${root}, '')"></tr>
    </table>
    <script>
        function filterTrees(what) {
            var fileTrees = document.getElementsByClassName("fileTreeDirectory");
            for (var i = 0; i < fileTrees.length; i++) {
                var tree = fileTrees[i];
                if ($(tree).data("name").indexOf(what) === -1) {
                    tree.style.display = "none";
                } else {
                    tree.style.display = "table-row";
                }

            }
        }

        function sortList(ul, fun) {
            let i;
            console.log(ul.childNodes)
            const new_ul = ul.cloneNode(false);

            // Add all lis to an array
            const lis = [];
            const staying_list = [];
            for (i = ul.childNodes.length; i--;) {
                if (ul.childNodes[i].nodeName === "TR" && ul.childNodes[i].classList.contains("fileTreeDirectory")) {
                    lis.push(ul.childNodes[i]);
                } else {
                    staying_list.push(ul.childNodes[i])
                    // new_ul.appendChild(ul.childNodes[i]);
                }
            }

            staying_list.reverse();
            lis.reverse();
            console.log(lis)
            lis.sort(fun);
            console.log(fun(lis[0], lis[1]))
            for (i = 0; i < staying_list.length; i++) {
                new_ul.appendChild(staying_list[i]);
            }
            // Add them into the ul in order
            for (i = 0; i < lis.length; i++) {
                new_ul.appendChild(lis[i]);
            }
            ul.parentNode.replaceChild(new_ul, ul);
        }

        var sortingBy = 1;

        function sortFileManager(by) {
            sortFileManager1(by, sortingBy);
        }

        function sortFileManager1(by, ascending) {
            function fun(a, b) {
                console.log($(a).data(by), " X ", $(b).data(by))
                if (by == "name" || by == "ext") {
                    let result = ($(a).data(by) < $(b).data(by) ? -ascending : ($(a).data(by) > $(b).data(by) ? ascending : 0));
                    console.log(result);
                    return result;
                }
                let result = parseInt($(a).data(by)) < parseInt($(b).data(by)) ? -ascending :
                    parseInt(($(a).data(by)) > parseInt($(b).data(by)) ? ascending : 0);
                console.log(result);
                return result;
            }

            sortingBy = sortingBy * -1
            console.log(by + " " + ascending)
            let all = document.getElementsByClassName("fileTable");
            for (let i = 0; i < all.length; i++) {
                const ul = all[i];
                sortList(ul.childNodes[1], fun);
            }
        }
    </script>
</div>

</body>
</html>