body {
  padding-top: 5rem;
  /* background-color:azure; */
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

h1{
	color:#3333cc;
}

h2{
	color:#1e96f8;
}
 /* Remove default bullets */
ul, #myUL {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
  margin: 0;
  padding: 0;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}

table, th, td {
    border:1px solid black;
}

/* Make border to input fields */
input[type=text]:focus {
      outline: none;
      border: 3px solid #555;
}

/* Design for buttons */
input[type=button], input[type=submit], input[type=reset] {
  background-color: #04AA6D;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 6px 12px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  /* border: 2px solid #555; */
}

/* Button change if clicked */
input[type=submit]:hover {
  background-color: #047eaa;
  color: white;
  box-shadow: 0 12px 12px 0 rgba(0,0,0,0.24), 0 12px 12px 0 rgba(0,0,0,0.19);
}

/* Padding */
div {
  padding: 10px 20px 10px;
}


/* Layout for home.html */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column1 {
  float: left;
  width: 35%;
}
.column2 {
  float: left;
  width: 65%;
}

