body {
  margin: 1%;
   /*background-color: #3bffff;*/
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

h1{
	color:#3333cc;
}

h2{
	color:#1e96f8;
}
 /* Remove default bullets */
/* ul, #myUL {
  list-style-type: none;
} */

/* Remove margins and padding from the parent ul */
#myUL {
  margin: 0;
  padding: 0;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 2px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
/* .nested {
  display: none;
} */

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}

table, th, td {
    border:1px solid black;
}

/* Make border to input fields */
input[type=text]:focus {
      outline: none;
      border: 3px solid #555;
}

/* Design for buttons */
button {
  background-color: #22577a;
  border: none;
  border-radius: 2px;
  color: white;
  padding: 2px 6px;
  text-decoration: none;
  margin: 2px 1px;
  cursor: pointer;
  transition-duration: 0.4s;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #04AA6D;
  border: none;
  border-radius: 2px;
  color: white;
  padding: 2px 6px;
  text-decoration: none;
  margin: 2px 1px;
  cursor: pointer;
  transition-duration: 0.4s;
  /* border: 2px solid #555; */
}

/* Button change if clicked */
button:hover {
  background-color: #347ebb;
  /* box-shadow: 0 12px 12px 0 rgba(0,0,0,0.24), 0 12px 12px 0 rgba(0,0,0,0.19); */
}

input[type=submit]:hover {
  background-color: #047eaa;
  color: white;
  box-shadow: 0 12px 12px 0 rgba(0,0,0,0.24), 0 12px 12px 0 rgba(0,0,0,0.19);
}

/* Padding */
div {
  padding: 1px 2px 1px;
}


/* Layout for home.html */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column1 {
  overflow: scroll;
  float: left;
  width: 49%;
}
.column2 {
  overflow: scroll;
  float: left;
  width: 49%;
  height: 80vh;
}

.fileTable th {
  position: relative;
}

.fileTable{
  /* because of resizing */
  /*width: 500px;*/
  height: 110px;
  overflow: scroll;
}


.fileTable thead th { position: sticky; top: 0; z-index: 1; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; table-layout: initial}
th, td {
  white-space:normal;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
td.currentDirectory {
  background: #818181;
  color: #0000ff;
  font-size: 12px;
  vertical-align: top;
  height: min-content;
}
button.currentDirectory {
  font-size: 12px;
  overflow: hidden;
  background-color: #22577a;
  border: none;
  border-radius: 1px;
  color: white;
  padding: 1px 1px;
  text-decoration: none;
  margin: 1px 1px;
  cursor: pointer;
  transition-duration: 0.2s;
}
/*th     { background: #139d8c; }*/
tr {
  display: table-row;
}
p.mojeP{
  background: #0c655a;
}

/* Resizing of the table */
.table th {
  position: relative;
}

.resizer {
  /* Displayed at the right side of column */
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  cursor: col-resize;
  user-select: none;
}
.resizer:hover,
.resizing {
  border-right: 3px solid #0c655a;
}


/* class pro divy....mění velikost podle uživatele - není konečné řešení*/
.resizeDiv {
  resize: horizontal;
  width: min-content;
  overflow: hidden;
}