<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>NGS add script</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<span th:replace="fragments/header :: header">Missing header</span>
<div>
    <form action="/addScript" method="get">
        <input type="text" name="scriptPath" placeholder="Script path">
        <input type="submit" value="Submit">
        <p>Make sure that for file .../script.sh descriptor file .../script.sh.desc exists. </p>
    </form>
</div>
<span th:if="${tried}">
    <span th:if="${failed}">
        Failed to add, <span th:if="${!scriptExists}">script file does not exist</span>
        <span th:if="${!descriptorExists}">descriptor file does not exist</span>.
    </span>
    <span th:if="${!failed}">Successfully added a new script!</span>
</span>
</body>
</html>