<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>NGS add user</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<span th:replace="fragments/header :: header">Missing header</span>

<main role="main" class="container">

<form action="/addUser" method="get">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="path" placeholder="Path">
    <input type="submit" value="Submit">
</form>
<div style="background-color: green" th:if="${added}" th:text="${'Successfully added user ' + name}"></div>
<div style="background-color: red" th:if="${triedToAdd && !added}">Failure!</div>
</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>