<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>NGS home</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">NGS</a>
    <a class="navbar-brand" href="/runningScripts">Runs</a>
    <a class="navbar-brand" href="/login">Login</a>
</nav>
<div th:if="${backend!=null}">
    Hello, <span th:text="${backend.name}">placeholder</span>! <a href="/addScript">Add a script.</a><br>
    <ul th:each="s : ${backend.getScripts()}">
        <li>
            <form action="#" method="get">
                <input type="submit" name="script" th:value="${s}">
            </form>
        </li>
    </ul>
</div>
<span th:if="${backend==null}">
    <a href="/">No user found, go log in!</a>
</span>
<div th:if="${script!=null}">
    <form action="/runningScripts" method="get">
        Config file:<input type="text" name="configFile"><br>
        <table>
            <tr>
                <th></th>
                <th th:each="i:${script.getInputs()}" th:text="${i.toString()}"></th>
            </tr>
            <tr>
                <td></td>
                <td th:each="i:${script.getInputs()}" th:text="${i.filter}"></td>
            </tr>
            <tr>
                <td>Sample 1</td>
                <td th:each="i:${script.getInputs()}">
                    <datalist th:id="${i.toString()}" th:each="v : ${backend.getFolderTree().allFilesDirs(i.filter)}">
                        <option th:value="${v}"></option>
                    </datalist>
                    <input type="text" th:list="${i.toString()}">
                </td>
            </tr>
        </table>
        <span th:each="i:${script.getInputs()}">
            <span th:text="${i}"></span> </span><br>
        <input type="submit" name="script" th:value="${script}">
    </form>
</div>
<ul th:replace="fragments/fileManager :: fileManager(${backend.getFolderTree()})"></ul>
</body>
</html>