<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>NGS home</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<span th:replace="fragments/header :: header">Missing header</span>

<div th:if="${backend!=null}"  style="text-align:right;">
    Hello, <span th:text="${backend.name}">placeholder</span>! <br><a href="/addScript">Add a script.</a><br>
    <ul th:each="s : ${backend.getScripts()}"  style="text-align:left;">
        <li>
            <form action="#" method="get">
                <input type="submit" name="script" th:value="${s}">
            </form>
        </li>
    </ul>
</div>
<span th:if="${backend==null}">
    <a href="/">No user found, go log in!</a>
</span>
<hr><hr>


<div class="row">
    <div class="column1" th:if="${script!=null}">
        <form action="/runningScripts" method="get">
            Config file:<input type="text" name="configFile" placeholder="-"><br>
            <table>
                <tr>
                    <th></th>
                    <th th:each="i:${script.getInputs()}" th:text="${i.toString()}"></th>
                </tr>
                <tr>
                    <td></td>
                    <td th:each="i:${script.getInputs()}" th:text="${i.filter}"></td>
                </tr>
                <tr>
                    <td>Sample 1</td>
                    <td th:each="i:${script.getInputs()}">
                        <datalist th:id="${i.toString()}" >
                            <select>
                                <option
                                        th:each="v : ${backend.getFolderTree().allFilesDirs(i.filter, backend.getFolderTree().root())}"
                                        th:value="${v}"></option>
                            </select>
                        </datalist>
                        <input type="text" th:name="${i.toString()+'1'}" th:list="${i.toString()}">
                    </td>
                </tr>
                <tr>
                    <td>Sample 2</td>
                    <td th:each="i:${script.getInputs()}">
                        <datalist th:id="${i.toString()}" >
                            <select>
                                <option
                                        th:each="v : ${backend.getFolderTree().allFilesDirs(i.filter, backend.getFolderTree().root())}"
                                        th:value="${v}"></option>
                            </select>
                        </datalist>
                        <input type="text" th:name="${i.toString()+'2'}" th:list="${i.toString()}">
                    </td>
                </tr>
                <tr>
                    <td>Sample 3</td>
                    <td th:each="i:${script.getInputs()}">
                        <datalist th:id="${i.toString()}" >
                            <select>
                                <option
                                        th:each="v : ${backend.getFolderTree().allFilesDirs(i.filter, backend.getFolderTree().root())}"
                                        th:value="${v}"></option>
                            </select>
                        </datalist>
                        <input type="text" th:name="${i.toString()+'3'}" th:list="${i.toString()}">
                    </td>
                </tr>
            </table>
            <input type="submit" name="script" th:value="${script}">
        </form>
    </div>

    <div class="column2">
        <ul th:replace="fragments/fileManager :: fileManager(${backend.getFolderTree()})"></ul>
    </div>
</div>

</body>
</html>