<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>NGS login</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css?x=4}"/>

</head>

<body>

<th:block th:replace="fragments/header :: header">Missing header</th:block>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Login</h1>
    </div>
    <div class="column1" style="overflow: hidden">
        <form action="/index" method="post">
            <table style="width: auto; border: none">
                <tr>
                    <td>Name:</td>
                    <td><input type="text" name="name"></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="pass"></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Go"></td>
                </tr>
                <tr style="background-color: red" th:if="${failedLogin}">
                    <td colspan="2">Invalid name or password!</td>
                </tr>

            </table>
        </form>

    </div>
    <div class="column2" style="overflow: hidden">
        Available users:
        <ul>
        <span th:each="login : ${logins}">       <!-- # hotovo-->
                <li>
                    <p th:text="${login}"></p>
                </li>

        </span>

            <form action="/addUser">
                <li>
                    <button type="submit">Add user</button>
                </li>
            </form>

        </ul>
    </div>

</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>