<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>NGS login</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<span th:replace="fragments/header :: header">Missing header</span>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Login</h1>
    </div>

    <ul>
        <span th:each="login : ${logins}">       <!-- # hotovo-->
            <form action="/index" method="get">
                <li>
                    <button type="submit" name="name" th:value="${login}" class="btn-link" th:text="${login}">Go</button>
                </li>

            </form>

        </span>

        <form action="/addUser" method="get">  <!--name a value tam nebude-->
            <li>
                <button type="submit">Add user</button>
            </li>
        </form>

    </ul>


</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>