<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>NGS: Running scripts</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<th:block th:replace="fragments/header :: header">Missing header</th:block>
<div style="margin-top: 50px">
    <table>
        <th>Script</th>
        <th>Arguments</th>
        <th>Exit Code</th>
        <span th:each="run : ${backend.runs}">
        <tr>
            <td th:text="${run.script}"></td>
            <td>
                <span th:each="arg : ${run.arguments}">
                    <span th:text="${arg + ' '}"></span>
                </span>
            </td>
            <td th:text="${run.getExitCode()}"></td>

        </tr>
    </span>
    </table>
    <div style="background-color: #ab5959" th:if="${failed}==true">An error occurred. The script did not run.
        <details>
            <summary>Error message:</summary>
            <span th:text="${error.getMessage()}"></span>
        </details>
    </div>
</div>
</body>
</html>