<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>NGS: Running scripts</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <style>
    table, th, td {
    border:1px solid black;
    }
    </style>
</head>
<body>
<span th:replace="fragments/header :: header">Missing header</span>
<h1>Scripts:</h1>
<table>
    <th>Script</th>
    <th>Arguments</th>
    <th>Exit Code</th>
    <span th:each="run : ${backend.runs}">
        <tr>
            <td th:text="${run.script}"></td>
            <td>
                <span th:each="arg : ${run.arguments}">
                    <span th:text="${arg + ' '}"></span>
                </span>
            </td>
            <td th:text="${run.getExitCode()}"></td>

        </tr>
    </span>
</table>
</body>
</html>