<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">NGS</a>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Browse my directories!</h1>
        <h2>
            <span th:text="'Hello, ' + ${message}">You!</span>
        </h2>
    </div>

    <ul>
        <form action="/list" method="get">
            <li>
                <button type="submit" name="name" th:value="${tasks[0]+'/../..'}" class="btn-link">..</button>
            </li>
        </form>
        <span th:each="task : ${tasks}">
            <form action="/list" method="get">
                <li>
                    <button type="submit" name="name" th:value="${task}" class="btn-link" th:text="${task}">Go</button>
                </li>

            </form>

        </span>

    </ul>

</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>